{% extends 'main/base.html' %}
{% block content %}
<form method="post" class="row">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">Подтверждение почты</div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <label for="code">Введите уникальный код:</label>
                        <input type="text" id="code" name="code">
                        <input type="submit" value="Подтвердить">
                    </form>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}