{% extends 'main/base.html' %}
{% block content %}
<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <input class="form-control mb-2" name="name"/>
                            <textarea class="form-control mb-2" name="message"></textarea>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
