{% extends 'main/base.html' %}
{% block content %}
<div class="col-12">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object.name }}</h4>
                    {% for version in product.version_set.all %}
                    {% if version.is_active_version %}
                    <p>Версия: {{version.number_version}} Название: {{version.name_version}}</p>
                    {% endif %}
                    {% endfor %}
                    <h3 class="card-title">
                        Информация о продукте
                    </h3>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <td>Название</td>
                            <td>{{ object.name }}</td>
                        </tr>
                        <tr>
                            <td>О продукте</td>
                            <td>{{ object.description }}</td>
                        </tr>
                        <tr>
                            <td>Цена</td>
                            <td>{{ object.price }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <input type="button" onclick="history.back();" value="Назад"/>
        </div>
    </div>
</div>
{% endblock %}